<%= form_with(model: treatment, local: true) do |form| %>
  <% if treatment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(treatment.errors.count, "error") %> prohibited this treatment from being saved:</h2>

      <ul>
        <% treatment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-lg-6 col-sm-12 col-md-12 mb-3">
    <%= form.label :title , :class =>"form-label" %>
    <%= form.text_field :title , :class=>"form-control" %>
   </div>  
</div>
<div class="row">
  <div class="col-lg-6 col-sm-12 col-md-12">
    <%= form.label :treatment_date, :class =>"form-label" %>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-sm-12 col-md-12 mb-3">
    <%= form.datetime_field :treatment_date, :class=>"form-select" %>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-sm-12 col-md-12 mb-3">
    <%= form.label :treatment_location, :class =>"form-label" %>
    <%= form.text_field :treatment_location, :class=>"form-control" %>
  </div>  
</div>

<div class="row">
  <div class="col-lg-6 col-sm-12 col-md-12 mb-3">
    <%= form.label :shared, :class =>"form-label" %>
    <%= form.number_field :shared, :class=>"form-control" %>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-sm-12 col-md-12 mb-3">
    <div class="actions">
      <%= form.submit :class =>"btn btn-primary" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-sm-12 col-md-12 mb-3">
    <div class="form-check">
      <%= form.file_field :files, multiple: true, class: "form-check-input" %>
      <%= form.label :files, "Compartilhado", class: "form-check-label" %>
    </div>
  </div>
</div>

<% end %>
