<p id="notice"><%= notice %></p>

<h1>Tratamentos</h1>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">Data</th>
      <th scope="col">Localização</th>
      <th scope="col">Arquivos</th>
      <th scope="col">Usuário</th>
      <th scope="col">Compartilhado</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @treatments.each do |treatment| %>
      <tr>
        <td><%= treatment.treatment_date %></td>
        <td><%= treatment.treatment_location %></td>
        <td><%= treatment.files %></td>
        <td><%= treatment.user_id %></td>
        <td><%= treatment.shared %></td>
        <td>
          <%= link_to 'Visualizar', treatment, :class => 'btn btn-info text-white' %>
          <%= link_to 'Editar', edit_treatment_path(treatment), :class => 'btn btn-secondary text-white' %>
          <%= link_to 'Apagar', treatment, method: :delete, data: { confirm: 'Você tem certeza?' }, :class => 'btn btn-danger text-white' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Tratamento', new_treatment_path, :class => 'btn btn-primary text-white' %>
