<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @treatment.title %>
</p>

<p>
  <strong>Data:</strong>
  <%= @treatment.treatment_date %>
</p>

<p>
  <strong>Localização:</strong>
  <%= @treatment.treatment_location %>
</p>

<p>
  <strong>Arquivos:</strong>
  <%= @treatment.files %>
</p>

<p>
  <strong>Usuário:</strong>
  <%= @treatment.user_id %>
</p>

<p>
  <strong>Compartilhado:</strong>
  <%= @treatment.shared %>
</p>

<%= link_to 'Editar', edit_treatment_path(@treatment),  :class => 'btn btn-primary text-white' %>
<%= link_to 'Voltar', treatments_path,  :class => 'btn btn-secondary text-white' %>
