<p id="notice"><%= notice %></p>

<p>
  <strong>Treatment date:</strong>
  <%= @treatment.treatment_date %>
</p>

<p>
  <strong>Treatment location:</strong>
  <%= @treatment.treatment_location %>
</p>

<p>
  <strong>Files:</strong>
  <%= @treatment.files %>
</p>

<p>
  <strong>Shared:</strong>
  <%= @treatment.shared %>
</p>

<p>
  <strong>Consultations:</strong>
  <%= @treatment.consultations_id %>
</p>

<%= link_to 'Edit', edit_treatment_path(@treatment) %> |
<%= link_to 'Back', treatments_path %>
