<%= form_with(model: consultation, local: true) do |form| %>
  <% if consultation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(consultation.errors.count, "error") %> prohibited this consultation from being saved:</h2>

      <ul>
        <% consultation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-12 mb-3">
      <%= form.label :title, "Título", class: "form-label" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-12 mb-3">
      <%= form.label :name_of_professional, "Profissional", class: "form-label" %>
      <%= form.text_field :name_of_professional, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-12">
      <%= form.label :consultation_date, "Data", class: "form-label" %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-12 mb-3">
      <%= form.datetime_field :consultation_date, class: "form-select" %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-12 mb-3">
      <div class="form-check">
        <%= form.check_box :shared_with, class: "form-check-input" %>
        <%= form.label :shared_with, "Compartilhado", class: "form-check-label" %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Salvar", class: "btn btn-primary text-white" %>
  </div>
<% end %>
