<p id="notice"><%= notice %></p>

<h1>Consultations</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Name of professional</th>
      <th>Consultation date</th>
      <th>Files</th>
      <th>User</th>
      <th>Shared</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consultations.each do |consultation| %>
      <tr>
        <td><%= consultation.title %></td>
        <td><%= consultation.name_of_professional %></td>
        <td><%= consultation.consultation_date %></td>
        <td><%= consultation.files %></td>
        <td><%= consultation.user_id_id %></td>
        <td><%= consultation.shared %></td>
        <td><%= link_to 'Show', consultation %></td>
        <td><%= link_to 'Edit', edit_consultation_path(consultation) %></td>
        <td><%= link_to 'Destroy', consultation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consultation', new_consultation_path %>
