<p id="notice"><%= notice %></p>

<h1>Consultas</h1>

<div class = "row">
  <div class="col-sm-6">
    <form method="get" class="busca">
      <label>Título:</label>
      <input type="text" class="form-control" name="title" value="<%= params[:title] %>">
      <input type="submit" value="Buscar" class="btn btn-primary" style="margin-top:10px">
    </form>
  </div>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Título</th>
    <th>Profissional</th>
    <th>Data</th>
    <th>Usuário</th>
    <th>Compartilhado</th>
    <th>Ações</th>
  </tr>
  </thead>

  <tbody>
  <% @consultations.each do |consultation| %>
    <tr>
      <td style="vertical-align: middle;"><%= consultation.title %></td>
      <td style="vertical-align: middle;"><%= consultation.name_of_professional %></td>
      <td style="vertical-align: middle;"><%= consultation.consultation_date.strftime("%d/%m/%Y %k:%M") %></td>
      <td style="vertical-align: middle;"><%= consultation.user.name %></td>
      <td style="text-align: center; vertical-align: middle;">
        <%= check_box_tag nil, consultation.shared_with, !!consultation.shared_with, disabled: true %>
      </td>
      <td>
        <%= link_to 'Visualizar', consultation, class: "btn btn-info text-white" %>
        <%= link_to 'Editar', edit_consultation_path(consultation), class: "btn btn-secondary text-white" %>
        <%= link_to 'Apagar', consultation, class: "btn btn-danger text-white" , method: :delete, data: { confirm: 'Você tem certeza?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Consulta', new_consultation_path, class: "btn btn-primary text-white" %>
