<p id="notice"><%= notice %></p>

<form>
  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-12 mb-3">
      <%= label_tag nil, "Título", class: "form-label" %>
      <%= text_field_tag nil, @consultation.title, class: "form-control", disabled:true %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-12 mb-3">
      <%= label_tag nil, "Profissional", class: "form-label" %>
      <%= text_field_tag nil, @consultation.name_of_professional, class: "form-control", disabled:true %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-12">
      <%= label_tag nil, "Data", class: "form-label" %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-12 mb-3">
      <%= text_field_tag nil, @consultation.consultation_date.strftime("%d/%m/%Y %k:%M"), class: "form-control", disabled:true %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-12 mb-3">
      <div class="form-check">
        <%= check_box_tag nil, @consultation.shared_with, !!@consultation.shared_with, disabled: true, class: "form-check-input" %>
        <%= label_tag nil, "Compartilhado", class: "form-check-label" %>
      </div>
    </div>
  </div>
</form>

<h4>Arquivos anexados</h4>
<% @exam.files.each do |file| %>
  <%= link_to file.filename, url_for(file), class: 'downloads', target: '_blank' %>
  <br>
<% end %>

<br>
<%= link_to 'Editar', edit_consultation_path(@consultation), class: "btn btn-primary text-white" %>
<%= link_to 'Voltar', consultations_path, class: "btn btn-secondary text-white" %>
