<p id="notice"><%= notice %></p>

<h1>Trocar senha</h1>

<%= form_with(model: @user, url: user_update_path, local: true) do |form| %>
  <%= hidden_field_tag 'setting_action', 'password' %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-12 mb-3">
      <%= form.label :password, "Senha", class: "form-label" %>
      <%= form.password_field :password, class: "form-control" %>
    </div>
    
  </div>
  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-12 mb-3">
      <%= form.label :password_confirmation, "Confirmar senha", class: "form-label" %>
      <%= form.password_field :password_confirmation, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Salvar", class: "btn btn-primary text-white" %>
  </div>
<% end %>
