<%= form_with(model: [@consultation, exam], url: @url, local: true) do |form| %>
  <% if exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
        <% exam.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-12 mb-3">
      <%= form.label :title, "Título", class: "form-label" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-12">
      <%= form.label :exam_date, "Data", class: "form-label" %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-12 mb-3">
      <%= form.datetime_field  :exam_date, class: "form-select" %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-12 mb-3">
      <%= form.label :exam_location, "Localização", class: "form-label" %>
      <%= form.text_field :exam_location, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-12 mb-3">
      <div class="form-check">
        <%= form.check_box :shared, class: "form-check-input" %>
        <%= form.label :shared, "Compartilhado", class: "form-check-label" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-12 mb-3">
      <div class="form-check">
        <%= form.file_field :files, multiple: true, class: "form-check-input" %>
        <%= form.label :files, "Compartilhado", class: "form-check-label" %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Salvar", class: "btn btn-primary text-white" %>
  </div>
<% end %>
