<p id="notice"><%= notice %></p>

<h1>Exames</h1>

<div class = "row">
  <div class="col-sm-6">
    <form method="get" class="busca">
      <label>Título:</label>
      <input type="text" class="form-control" name="title" value="<%= params[:title] %>" >
      <input type="submit" value="Buscar" class="btn btn-primary" style="margin-top:10px">
    </form>
  </div>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Título</th>
    <th>Data</th>
    <th>Localização</th>
    <th>Usuário</th>
    <th>Compartilhado</th>
    <th>Ações</th>
  </tr>
  </thead>

  <tbody>
  <% @exams.each do |exam| %>
    <tr>
      <td style="vertical-align: middle;"><%= exam.title %></td>
      <td style="vertical-align: middle;"><%= exam.exam_date %></td>
      <td style="vertical-align: middle;"><%= exam.exam_location %></td>
      <td style="vertical-align: middle;"><%= exam.user.name %></td>
      <td style="text-align: center; vertical-align: middle;">
        <%= check_box_tag nil, exam.shared, !!exam.shared, disabled: true %>
      </td>
      <td>
        <%= link_to 'Visualizar', exam, class: "btn btn-info text-white" %>
        <%= link_to 'Editar', edit_exam_path(exam), class: "btn btn-secondary text-white" %>
        <%= link_to 'Apagar', exam, class: "btn btn-danger text-white" , method: :delete, data: { confirm: 'Você tem certeza?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Exame', new_exam_path, class: "btn btn-primary text-white" %>