<p id="notice"><%= notice %></p>

<form>
  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-12 mb-3">
      <%= label_tag nil, "Título", class: "form-label" %>
      <%= text_field_tag nil, @exam.title, class: "form-control", disabled:true %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-12">
      <%= label_tag nil, "Data", class: "form-label" %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-12 mb-3">
      <%= text_field_tag nil, @exam.exam_date, class: "form-control", disabled:true %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-12 mb-3">
      <%= label_tag nil, "Localização", class: "form-label" %>
      <%= text_field_tag nil, @exam.exam_location, class: "form-control", disabled:true %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-12 mb-3">
      <div class="form-check">
        <%= check_box_tag nil, @exam.shared, !!@exam.shared, disabled: true, class: "form-check-input" %>
        <%= label_tag nil, "Compartilhado", class: "form-check-label" %>
      </div>
    </div>
  </div>
</form>

<%= link_to 'Editar', edit_exam_path(@exam), class: "btn btn-primary text-white" %> |
<%= link_to 'Voltar', exams_path, class: "btn btn-secondary text-white" %>
